body{
	background-image: url("am.jpg");
}
.navbar{
	color: darkblue;
}

.embed-responsive{
	
	box-shadow: 4px 4px 5px #888888;
}
.art{
	font-size: 40px;
	font-family: fantasy;
	color: darkblue;
	margin-left: 10px;
}
.all{
	color: darkblue;

}
h3{
	margin-left: 60px;
}
h6{
	margin-left: 20px;
}
.container{
	display: flex;
	/*flex-wrap: wrap;*/
	justify-content: center;
}
h3{
	color: blue;
	box-shadow: 4px 4px 5px #888888; 
}

.im{
	width: 200px;
	height: 180px;
	margin: 10px;
	transition: all 1s;
}
.im:hover {
	transform: scale(1.1);
}

.page-footer{
	background-color: darkblue;
}
.footer-copyright{
	background-color: blue;
}

